<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index AppTwo</title>
</head>
<body>

{# Title block here #}
<h1>{{ title }}</h1>
<div>
    Category: {{ category }} <br />
    Year: {{ year }} <br />
    Month: {{ month }} <br />
    Day: {{ day }} <br />
</div>

{% comment "This is a commented block. Not visible in the generated HTML" %}
<h2>Test title</h2>
{% endcomment %}

<!-- <h3>HTML COMMENT</h3> -->


<h2>Access variable detail</h2>
<div>
    filename: {{ picture.filename }} <br/>
    First category: {{ picture.categories.0 }}
</div>


</body>
</html>